# EditorConfig
# http://EditorConfig.org

# Don't search any further up the directory tree
root = true

# Baseline
[*]
charset = utf-8
indent_style = space
indent_size = 4
trim_trailing_whitespace = true
insert_final_newline = true

# Application manifests
[*.manifest]
indent_size = 2

# Markdown
[*.md]
trim_trailing_whitespace = false

# MSBuild configurations
[*.{props,targets}]
indent_size = 2

# Visual Studio projects
[*.*proj{,.user}]
charset = unset
indent_size = 2
insert_final_newline = false

# Visual Studio solutions
[*.sln]
charset = utf-8-bom
indent_style = tab

# YAML
[*.yml]
indent_size = 2


#######################################
### .NET Code Quality Analysis (CA) ###
#######################################

[*.cs]
# CA1303: Do not pass literals as localized parameters
dotnet_diagnostic.CA1303.severity = none

# CA1304: Specify CultureInfo
dotnet_diagnostic.CA1304.severity = none

# CA1305: Specify IFormatProvider
dotnet_diagnostic.CA1305.severity = none

# CA1812: Avoid uninstantiated internal classes
dotnet_diagnostic.CA1812.severity = none

# IDE0057: Use range operator (C# 8.0+)
csharp_style_prefer_range_operator = false

# IDE0063: Use simple 'using' statement (C# 8.0+)
csharp_prefer_simple_using_statement = false

# IDE0090: Simplify new expression (C# 9.0+)
csharp_style_implicit_object_creation_when_type_is_apparent = false
