trigger:
  batch: true

pool:
  vmImage: windows-latest

variables:
  solution: QueryHardwareSecurity.slnx
  configuration: Release
  projectDotnet: src/QueryHardwareSecurity/QueryHardwareSecurity.csproj
  projectNative: src/QueryHardwareSecurityLib/QueryHardwareSecurityLib.vcxproj

steps:
- task: NuGetToolInstaller@1

- task: NuGetCommand@2
  inputs:
    command: restore
    restoreSolution: $(solution)
    feedsToUse: select

- task: VSBuild@1
  inputs:
    solution: $(projectNative)
    platform: x64
    configuration: $(configuration)
    maximumCpuCount: true

- task: VSBuild@1
  inputs:
    solution: $(projectNative)
    platform: ARM64
    configuration: $(configuration)
    maximumCpuCount: true

- task: VSBuild@1
  inputs:
    solution: $(projectDotnet)
    platform: AnyCPU
    configuration: $(configuration)
    maximumCpuCount: true

- task: PublishPipelineArtifact@1
  inputs:
    targetPath: bin/$(configuration)/net462
    artifact: QueryHardwareSecurity-$(build.SourceVersion)-net462
    publishLocation: pipeline

- task: PublishPipelineArtifact@1
  inputs:
    targetPath: bin/$(configuration)/net472
    artifact: QueryHardwareSecurity-$(build.SourceVersion)-net472
    publishLocation: pipeline

- task: PublishPipelineArtifact@1
  inputs:
    targetPath: bin/$(configuration)/net8.0
    artifact: QueryHardwareSecurity-$(build.SourceVersion)-net80
    publishLocation: pipeline
