<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="DecodeWheaRecord Rules" Description="Combination of the Microsoft Native Recommended Rules and C++ Core Check Rules." ToolsVersion="18.0">
  <Include Path="cppcorecheckrules.ruleset" Action="Default" />
  <Include Path="nativerecommendedrules.ruleset" Action="Default" />
</RuleSet>